<!DOCTYPE html>
<html>

<head>
  <title>{% block title %}{% endblock %}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>
  <div class="bg-image">
      <div class="container-fluid">
      <nav class="navbar navbar-expand-lg navbar-dark bg-transparent">
        <h1><a class="navbar-brand" style="color: rgb(248, 12, 12);" href="{{ url_for('home') }}">Loan prediction</a></h1>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" style="color: rgb(7, 7, 7);" href="{{ url_for('about') }}"><b>About</b></a>
            </li>
            {% if session.get('user_id') %}
            <li class="nav-item">
              <a class="nav-link" style="color: rgb(7, 7, 7);" href="{{ url_for('home') }}">Dashboard</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" style="color: rgb(7, 7, 7);" href="{{ url_for('logout') }}">Logout</a>
            </li>
            {% else %}
            <li class="nav-item">
              <a class="nav-link" style="color: rgb(7, 7, 7);" href="{{ url_for('signup') }}">Signup</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" style="color: rgb(7, 7, 7);" href="{{ url_for('login') }}">Login</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </nav>

      {% block content %}
      {% endblock %}

    </div>
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N"
      crossorigin="anonymous"></script>
</body>

</html>